{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The VAker</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body id="bg" style="background-image: url('{% static "images/Bg-Web.jpg" %}')">
    {% include 'app/navbar.html' %}
    {% block content %}

    {% endblock content %}
    <script src="{% static 'js/base.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>