{% extends 'app/base.html' %}
{% load static %}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="POST" action="{%url 'login'%}">
        {% csrf_token %}
            <div class="wrapper">
        <div class="form-box login">
            <h2>Register</h2>
            <form action="">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <label for="id_lName">Username</label>
                    <input type="text" id="id_lName" name="username" placeholder="Enter your Username" required>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <label for="id_Password">Password</label>
                    <input type="password" id="id_Password" name="password" placeholder="Enter your Password" required>
                </div>

                <button type="submit" class="btn" value="Save">
                    Register
                </button>

            </form>
        </div>
    </div>
    </form>
</body>
</html>
{%endblock%}