{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <html lang="en">
  <div class="container">
      <br><br><br><br><br><br><br><br><br>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
            <div class="col-md-8">
                <div class="card-body">
                 <h5 class="card-title">{{ product.productName }}</h5>
                <p class="card-text">{{ product.productDesc }}</p>
                    <p class="card-text">{{ product.productDesc }}</p>
                                    ₱{{product.productPrice}}
                    <br/>ID: {{product.id}}

                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                  <button type="button" class="btn btn-secondary" id="add-cart" data-product-id="{{ product.id }}">Add To Cart</button>

            </div>
            </div>
        </div>
        </div>
    </div>
</html>

<script>
// Check if button pressed
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
            product_id: $('#add-cart').val(), // Use data-* attribute for the product ID
            // product_qty: $('#qty-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            document.getElementById("cart_quantity").textContent = json.qty;
            location.reload();
        },

        error: function(xhr, errmsg, err){
        }
    });
});

</script>

{% endblock content %}